/*////////////////////////////////////////--SITE HEADER--*/
.site-header {
  border-top: none;
  background: transparent;
  float: right !important;
}
.site-header a {
  font-size: 1.2em;
  opacity: .8;
  line-height: 3em;
}
.top-navigation {
  background: transparent;
}
/*////////////////////////////////////////--VIDEO--*/
#video-block {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100vh;
  z-index: -1;
}
video {
  z-index: -1;
  background-size: cover;
  background-position: center;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.video-overlay {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: relative;
  height: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/*////////////////////////////////////////--TITLE--*/
.maintitle {
  font-size: 20vw;
  font-weight: 700;
  color: #26190d;
  opacity: .7;
  margin-top: -20vw;
}

/*////////////////////////////////////////--SINGLE PAGE--*/

.back-img {
  color: #ffffff;
  background-color: transparent;
  background-image: url("/chalkboard.jpg") !important;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
	z-index: 100;
	width: 90%;
	margin: auto;
}
body {
  background-color: transparent;
  background-image: url("/coffee-back.jpg") !important;
}
.entry-header {
  color: #ffffff;
  font-weight: 500;
  margin: 50px 0px;
  padding: 0px;
  font-family: 'Annie Use Your Telescope', cursive;
  opacity: .7;
}
.entry-content {
  /* font-size: 1.4em; */
  font-weight: 300;
  padding-bottom: 80px;
  text-align: center;
  font-family: 'Schoolbell', cursive;
  opacity: .7;
}
.content-title {
  font-family: 'Gloria Hallelujah', cursive;
}
.content-image {
  margin-bottom: 0;
}
.content-excerpt {
  font-family: 'Schoolbell', cursive;
}
.content-description {
  font-size: 1.5em;
  margin: 10%;
}
.more-link {
  /* text-transform: none; */
  font-family: 'Schoolbell', cursive;
}
/*////////////////////////////////////////--HIDDEN ELEMENTS--*/
.content-date {
  display: none;
}
/*////////////////////////////////////////--FOOTER--*/